<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- Changes begins here -->

    
    <div class="about"> 
      <ul>
      <h1> About</h1>
      <p><a href="{{site.baseurl}}/department"> Department</a></p>
      <p><a href="{{site.baseurl}}/facilities"> Facilities</a></p>
      <p><a href="{{site.baseurl}}/contact-us"> Contact Us</a></p>
      <p><a href="{{site.baseurl}}/getting-here"> Getting Here</a></p>
    </ul>
    </div>
    <div class="Acedemics">
      <ul>
        <h1> Acedemics</h1>
        <p><a href="{{site.baseurl}}/admissions"> Admissions</a></p>
        <p><a href="{{site.baseurl}}/student-funding"> Student Funding</a></p>
        <p><a href="{{site.baseurl}}/undergraduate-programs"> Undergraduate Programs</a></p>
        <p><a href="{{site.baseurl}}/cs-minor"> CS Minor</a></p>
        <p><a href="{{site.baseurl}}/graduate-programs"> Graduate Programs</a></p>
        <p><a href="{{site.baseurl}}/honors-programs"> Honors Programs</a></p>
        <p><a href="{{site.baseurl}}/certificate-programs"> Certificate Programs</a></p>
        <p><a href="{{site.baseurl}}/courses"> Courses</a></p>
        <p><a href="{{site.baseurl}}/course-schedule"> Course Schedule</a></p>

      </ul>
    </div>

    <div class="People">
      <ul>
        <h1> People</h1>
        <p><a href="{{site.baseurl}}/faculty"> Faculty</a></p>
        <p><a href="{{site.baseurl}}/staff"> Staff</a></p>
      
      </ul>
    </div>
    


</div>
    <!-- Changes made upto here -->
    

    <!--
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p> About</p>
            </li>
            {%- if site.email -%}
            <li>
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
      </div>
    </div>

  </div>  
-->

</footer>
