<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- Changes begins here -->

    <div class="about"> 
      <ul>
      <h1> About</h1>
      <p><a href="{{site.baseurl}}/department"> Department</a></p>
       
      <p><a href="{{site.baseurl}}/facilities"> Facilities</a></p>
      <p> Contact Us </p>
      <p> Getting Here </p>
    </ul>
    </div>
    <div class="Acedemics">
      <ul>
        <h1> Acedemics</h1>
        <p> Admissions</p>
        <p> Student Funding</p>
        <p> Undegraduate Programs</p>
        <p> CS Minor </p>
        <p> Graduate Programs </p>
        <p> Honors Program </p>
        <p> Certificate Programs </p>
        <p> Courses </p>
        <p> Course Schedule </p>
      </ul>
    </div>
 

    <!-- Changes made upto here -->
    

    <!--
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p> About</p>
            </li>
            {%- if site.email -%}
            <li>
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
      </div>
    </div>

  </div>  
-->

</footer>
