---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 70%" />
      <col span="1" style="width: 30%" />
    </colgroup>
    <tr>
      <td>{% include carousel.html height="50" unit="%" duration="7" %}</td>
      <td>Welcome text goes here.</td>
    </tr>
  </table>

  <table style="width: 100%">
    <tr>
      <th>Research</th>
      <th>News</th>
      <th>Events</th>
    </tr>
    <tr>
      <td>
        <ul>
          {% for post in site.categories.research %} {% if post.url %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </td>

      <td>
        <ul>
          {% for post in site.categories.news %} {% if post.url %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </td>

      <td>
        <ul>
          {% for post in site.categories.events %} {% if post.url %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>

{% include follow-buttons.html %}
